app-toast {
  position: fixed;
  display: none;
  top: 20px;
  width: 100%;
  text-align: center;
}

app-toast .message {
  background-color: rgba(0, 0, 0, .7);
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  max-width: 90%;
}

app-toast.visible {
  display: block;
}
