app-contacts {
  display: block;
  border: 1px solid #999;
  margin: 10px;
}

app-contacts > * {
  padding: 10px;
}

app-contacts > .app-contacts__search input {
  width: 100%;
  box-sizing: border-box;
}

app-contacts .app-contacts__contact {
  border: 1px solid #999;
  cursor: pointer;
}
